/* --- GLOBAL --- */
@font-face {
	font-family: 'Museo Sans';
	src: url(../fonts/MuseoSans_300.woff2);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Museo Sans';
	src: url(../fonts/MuseoSans_900.woff2);
	font-style: bold;
	font-weight: 900;
}

*, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	font-family: 'Museo Sans', sans-serif;
	font-size: 16px;
	color: #7d7d7d;
	font-weight: normal;
	background-color: #f4f4f4;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #1f4479;
	font-size: 2.25rem;
	text-transform: uppercase;
}

h1 {
	font-size: 3.9375rem;
}

h3 {
	font-size: 1.125rem;
	color: #7d7d7d;
	font-weight: normal;
}


a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	color: inherit;
}

.btn-yellow {
	display: inline-block;
	height: 2.81rem;
	text-align: center;
	background-color: #F5B31E;
	color: #fff;
	padding: 14px;
	font-size: 0.875rem;
	border-radius: 0.357em;
	border: 0.07em solid rgb(244, 174, 15);
}

.btn-blue {
	display: inline-block;
	height: 2.81rem;
	text-align: center;
	-webkit-border: 1px solid #1F4479;
	-moz-border: 1px solid #1F4479;
	border: 1px solid #1F4479;
	-webkit-border-radius: 25x;
	-moz-border-radius:25px;
	border-radius:25px;
	font-size: 14px;
	padding: 14px;
	text-transform: capitalize;
	color: #1F4479;
	-webkit-transition: ease-in 0.5s;
	-moz-transition: ease-in 0.5s;
	transition: ease-in 0.5s;
}
	.btn-blue:hover {
		-webkit-transition: ease-out 0.5s, ;
		-moz-transition: ease-out 0.5s;
		transition: ease-out 0.5s;
		background-color: #1f4479;
		color: #fff;
	}

p {
	line-height: 1.5rem;
}

body {
	position: relative;
	z-index: 1;
}

	body:after {
		content: " ";
		background: url(../images/bg.svg) no-repeat center top;
		height: 3500px;
		width: 100%;
		top: 0;
		position: absolute;
		opacity: 0.05;
		z-index: -1;
	}


.main-content {
	padding: 50px 0;
}
	.main-content > section > * {
		display: inline-block;
	}



.data-left {
	width: 45%;
}

.data-right {
	width: 46%;
}

hr {
	border: 0;
	height: 1px;
	background-color: #000;
	opacity: 0.15;
}

.fixed-width {
	max-width: 960px;
	margin: 0 auto;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* --- HEADER --- */
.page-header {
		padding: 30px 0;
		margin-bottom: 50px ;
	}

	.page-header nav {
		}

		.page-header nav ul {
			text-align: center;
			}

			.page-header nav ul li {
				display: inline-block;
				margin-right: 2.6875rem;
				}

				.page-header nav ul li:nth-child(2) {
					margin-right: 0;
				}

				.page-header nav ul li:nth-child(3) {
						margin: 0 1.75rem;
						vertical-align: middle;
					}

					.page-header nav ul li a {
						font-size: 0.875rem;
						color: #23527c;
						font-weight: normal;
					}

/* --- INTRODUCTION --- */
.intro {
	margin-bottom: 50px;
	padding-bottom: 90px;
	text-align: center;
	}

	.intro .center {
			width: 630px;
			padding-right: 40px;
		}

		.intro .center > *:not(:last-child) {
			margin: 0 0 1.25rem 0;
		}

		.intro .center span {
			font-style: italic;
			text-transform: uppercase;
			display: block;
		}

		.intro .center p {
			font-size: 1.3125rem;
			line-height: 1.875rem;
		}

		.intro .center a {
				opacity: 0.7;
				display: inline-block;
				margin-top: 30px;
			}

			.intro .center a:hover {
				opacity: 1;
			}

/* --- SERVICES --- */
.services-design, .services-code, .services-partner {
	height: 600px;
}

	.services-design article ul li,
	.services-code article ul li,
	.services-partner article ul li {
		margin: 20px 0;
		font-size: 14px;
		list-style-position: inside;
	}

	.services-design article ul,
	.services-partner article ul {
		padding-left: 0;
	}

*/
	.services-code article ul li {
		direction: rtl;
	}
/* --- SUB FOOTER --- */
.sub-footer {
	background: url(../images/bg_subfooter.jpg) no-repeat center;
	background-size: cover;
}
	.clients {
		text-align: center;
		padding: 50px;
	}
		.clients ul {
			padding-left: 0;
		}

			.clients ul li {
					display: inline-block;
					width: 18%;
					margin-right: 1%;
					vertical-align: middle;
				}

				.clients ul li a img {
					width: 150px;
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					filter: grayscale(100%);
				}

                .clients ul li a img:hover{
                	-webkit-filter: grayscale(0);
                	-moz-filter: grayscale(0);
                	filter: grayscale(0);
                	-webkit-transition: ease-out 0.5s;
                	-moz-transition: ease-out 0.5s;
                	transition: ease-out 0.5s;
				}

/* --- CALL TO ACTION ---*/
.call-to-action {
	padding: 70px 0;
}
.call-to-action h2 {
	font-weight: normal;
	color: inherit;
	text-transform: lowercase;
	font-size: 1.875rem;
}
	.call-to-action h2:first-letter {
		text-transform: uppercase;
	}

.call-to-action ul {
		padding: 40px 0;
	}

	.call-to-action ul li {
		width: 300px;
		margin: 0;
		}

		.call-to-action ul li:last-child {
			border-left: 1px solid rgba(0, 0, 0, 0.15);
		}

		.call-to-action ul li:last-child a {
			text-transform: lowercase;
		}

		.call-to-action ul li:last-child a:first-letter {
			text-transform: uppercase;
		}

/* --- FOOTER --- */
.page-footer {
	background-color: #201F1D;
	padding: 50px 0;
	text-align: center;
}

	.page-footer .footer-list-nav {
		padding-bottom: 50px;
		}

		.page-footer .footer-list-nav li {
			display: inline-block;
			color: #fff;
			font-size: 14px;
			margin-right: 8%;
		}

.page-footer div ul + a img {
	padding-bottom: 20px;
}

.page-footer small {
	display: block;
	padding: 0.5%;
	font-size: 0.75rem;
}